<div class="helper">
    <div class="header">
        <div class="container">
            <div class="header__layout">
                <div class="header__main">
                    <div class="header__logo">
                        <a href="/" class="header__logo_link">
                            <img src="assets/images/logo_img.png" alt="Logo">
                        </a>
                    </div>

                    <langs-menu></langs-menu>

                    <main-menu></main-menu>
                </div>

                <header-panel></header-panel>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="footer">
        <div class="footer__layout">
            <footer-menu></footer-menu>
            <div class="footer__copy"><p>Copyright © 2017</p></div>
        </div>
    </div>
</div>



