.games {
  .container {
    position: relative;
  }

  &__menu {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    margin: {
      top: -28px;
      left: auto;
      right: auto;
    }
  ;
    max-width: 1325px;

    &_list {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    &_item {
      flex: 0 1 204px;
      height: 56px;
      margin-right: 17px;
      background: #02376b;
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
      transition: all .2s;

      &:hover {
        background: #0082ff;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    &_link {
      display: block;
      height: 100%;
      text-align: center;
      font: bold 16px "AvenirDemi", sans-serif;;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      text-indent: 5px;
      white-space: nowrap;
      line-height: 56px;
    }
  }
}