<div class="wait">
    <div class="container">
        <div class="wait__title">
            <p>Чего ты еще ждешь?</p>
        </div>

        <div class="wait__layout">
            <div class="wait__left">
                <p class="wait__left_title">Регистрируйся и получи подарок</p>
                <p class="wait__left_amount">25</p>
                <p class="wait__left_currency">Free <span>mBTC</span></p>
            </div>

            <div class="wait__right">
                <form id="registration-form" class="form form--registration form--registration-fast-t1" action="#" method="post">
                    <input type="hidden" value="e439aa9e49b6487bd93c055748811f4e24966e67" name="YII_CSRF_TOKEN">

                    <section class="form__section form__section--heading">
                        <h1>Быстрая регистрация</h1>
                    </section>

                    <section class="form__section">
                        <fieldset id="yw6" class="form__fieldset">
                            <div id="yw1" class="form__input form__input--email form__input--success form__input--t1">
                                <label for="RegistrationFormCustom_email" class="required">Электронная почта <span class="required">*</span></label>
                                <input placeholder="Электронная почта" name="RegistrationFormCustom[email]" id="RegistrationFormCustom_email" type="email" maxlength="30">
                                <div class="form__error-message" id="RegistrationFormCustom_email_em_" style="display:none"></div>
                            </div>
                            <div id="yw2" class="form__input form__input--password form__input--success form__input--t1">
                                <label for="RegistrationFormCustom_password" class="required">Пароль <span class="required">*</span></label>
                                <input placeholder="Пароль" name="RegistrationFormCustom[password]" id="RegistrationFormCustom_password" type="password" maxlength="16">
                                <div class="form__error-message" id="RegistrationFormCustom_password_em_" style="display:none"></div>
                            </div>
                            <div id="yw3" class="form__input form__input--password form__input--success form__input--t1">
                                <label for="RegistrationFormCustom_verifyPassword" class="required">Подтверждение пароля <span class="required">*</span></label>
                                <input placeholder="Подтверждение пароля" name="RegistrationFormCustom[verifyPassword]" id="RegistrationFormCustom_verifyPassword" type="password">
                                <div class="form__error-message" id="RegistrationFormCustom_verifyPassword_em_" style="display:none"></div>
                            </div>
                            <div id="yw4" class="form__input form__input--captcha form__input--text form__input--success form__input--t1">
                                <label for="RegistrationFormCustom_verifyCode" class="required">Проверочный код <span class="required">*</span></label>
                                <div class="form__captcha">
                                    <img alt="Captcha" id="2045308722" src="../../../assets/images/captcha.png">
                                    <a id="2045308722_button" href="/ru/user/registration/captcha?refresh=1">Получить новый код</a>
                                </div>
                                <input placeholder="Проверочный код" name="RegistrationFormCustom[verifyCode]" id="RegistrationFormCustom_verifyCode" type="text">
                                <div class="form__error-message" id="RegistrationFormCustom_verifyCode_em_" style="display:none"></div>
                            </div>
                            <div id="yw5" class="form__input form__input--checkbox form__input--success form__input--t2">
                                <input id="ytRegistrationFormCustom_over18_modal" type="hidden" value="0" name="RegistrationFormCustom[over18]">
                                <input id="RegistrationFormCustom_over18_modal" name="RegistrationFormCustom[over18]" value="1" type="checkbox">
                                <label for="RegistrationFormCustom_over18_modal" class="required">Я старше 18 лет и я прочел и принял <a href="/ru/info/terms_and_conditions">Положения и условия</a> Darknet. <span class="required">*</span></label>
                                <div class="form__error-message" id="RegistrationFormCustom_over18_modal_em_" style="display:none"></div>
                            </div>
                        </fieldset>
                    </section>

                    <section class="form__section form__section--submit">
                        <button class="button button--sp2 button--t2" type="submit" name="yt0">Регистрация</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>